html {
  background-color: #2d0003;
  background-image: url("static/opera-bg.jpg");
  /* overscroll-behavior: none; */
}

a {
  text-decoration: none;
  color: #5B5B5B;
}

a:visited {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 5vh;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 80vw;
  min-height: 90vh;
}

.loading-icon {
  color: #5B5B5B;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-icon {
    animation: loading-icon-spin infinite 3s linear reverse;
  }
}

@keyframes loading-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-title {
  font-size: 10vh;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  color: rgb(44, 0, 2);
}